---
import Quiz from '../../components/Quiz/Quiz.tsx';
---
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego de Preguntas</title>
  </head>
  <body>
    <Quiz />
  </body>
</html>